* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

body {
    background-color: #f8f9fa;
    height: 100%;
    display: flex;
    flex-direction: column; /* Flexbox для вертикального выравнивания */
}
.container {
    display: flex;
    height: 100vh;
    justify-content: flex-start;
}
.menu-container {
    display: flex;
}
.menu {
    width: 350px;
    background-color: rgba(240, 238, 255, 0.75);
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
}
.menu-header {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}
.menu-header h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}
.menu-search input {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.menu-section h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.menu-section ul {
    list-style: none;
}
.menu-section ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 0;
}
.menu-section ul li:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}
.task-count {
    font-size: 12px;
    background-color: #ddd;
    border-radius: 50%;
    padding: 4px 8px;
}
.list-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}
.personal {
    background-color: limegreen;
}
.menu-footer ul {
    list-style: none;
}
.menu-footer ul li {
    padding: 10px 0;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.menu-footer ul li:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}
.icon-upcoming:before {
    content: "\27A1";
    margin-right: 8px;
}
.icon-today:before {
    content: "\1F4C5";
    margin-right: 8px;
}
.icon-settings:before {
    content: "\2699";
    margin-right: 8px;
}
.icon-sign-out:before {
    content: "\21AA";
    margin-right: 8px;
}
.icon-add:before {
    content: "\2795";
    margin-right: 8px;
}
.menu-section ul li span {
    display: inline-block;
    margin-left: 18px;
    margin-right: 10px;
}

/*==========================================================*/

.main-content {
    flex: 1;
    padding: 40px;
    margin: 40px 40px 40px 0;
    background-color: rgba(231, 227, 255, 0.75);
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-content .intro-text {
    font-size: 18px;
    margin: 20px 0;
}
.start-button {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(27, 53, 171);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.start-button:hover {
    background-color: #200d6b;
}

/*==========================================================*/

.menu-section ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 12px 0;
    width: 100%;
}
.menu-section ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}
.menu-section ul li.active a {
    font-weight: bold;
    color: limegreen;
}
.menu-section ul li a span {
    margin-left: 0;
}